---

---

<section class="relative z-0 mx-auto max-w-7xl px-6 py-10 sm:px-16 sm:py-16">
  <div class="mt-20">
    <h2 class="xs:text-[40px] text-[30px] font-black text-black sm:text-[50px] md:text-[60px] dark:text-white">
      About Me
    </h2>
    <p class="dark:text-secondary-dark mt-4 max-w-3xl text-[17px] leading-[30px] text-gray-600">
      I'm a skilled software developer with experience in TypeScript and JavaScript, and expertise in frameworks like
      React, Node.js, and Three.js. I'm a quick learner and collaborate closely with clients to create efficient,
      scalable, and user-friendly solutions that solve real-world problems.
    </p>
  </div>
</section>
