---
import { Icon } from 'astro-icon/components';

import { UI } from 'astrowind:config';
import { cn } from '~/utils/cn';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <label class="swap swap-rotate" aria-label={'Toggle between Dark and Light mode'} data-aw-toggle-color-scheme>
      <input type="checkbox" />
      <Icon name="tabler:moon" class:list={cn('swap-on size-5 fill-current', className)} />
      <Icon name="tabler:sun" class:list={cn('swap-off size-5 fill-current', className)} />
    </label>
  )
}
