---
import { Icon } from 'astro-icon/components';
import { Boxes } from '../ui/background-boxes';
import SocialLinks from './SocialLinks.astro';
---

<div class="relative flex h-screen w-full flex-col items-center justify-center overflow-hidden bg-slate-900">
  <div
    class="pointer-events-none absolute inset-0 z-20 h-full w-full bg-slate-900 [mask-image:radial-gradient(transparent,white)]"
  >
  </div>
  <Boxes client:idle />
  <div class="pointer-events-none relative z-20 w-max">
    <h1
      class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white pr-5 text-xl text-white md:text-4xl"
    >
      Hello World!
    </h1>
  </div>

  <p class="pointer-events-none relative z-20 mt-6 text-center text-lg leading-loose text-neutral-300">
    我是ChlorineC，一名全栈Web工程师
    <br />
    现就职于字节跳动担任前端工程师
  </p>

  <div class="z-20 mt-10 flex flex-col items-center space-x-4">
    <button
      class="animate-shimmer inline-flex h-12 items-center justify-center rounded-md border border-slate-800/60 bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] px-6 font-medium text-slate-400 transition-all duration-300 hover:border-blue-500/40 hover:text-blue-400 focus:border-blue-500/40 focus:shadow-[0_0_20px_rgba(59,130,246,0.2)] focus:outline-none focus:ring-2 focus:ring-blue-500/30 focus:ring-offset-0 active:scale-[0.98]"
    >
      <!-- TODO: 这里后续收纳到config.yml配置中 -->
      <a target="_blank" href="https://chlorinec.notion.site/ChlorineC-15fbdeba885680e3b3bdcb8553a4b478?pvs=4">
        <Icon name="tabler:brand-notion" class="mr-1 inline-block text-lg" /> 查看完整简历
      </a>
    </button>
    <SocialLinks class="z-20 mt-5" />
  </div>
</div>
