---
export interface Props {
  isDark?: boolean;
  class?: string;
}

const { isDark = false, class: className } = Astro.props;
---

<div class:list={['bg-page absolute inset-0', { 'bg-dark dark:bg-transparent': isDark }, className]}>
  <slot />
</div>
