---
export interface Props {
  isDark?: boolean;
}

const { isDark = false } = Astro.props;
---

<div class:list={['glass absolute inset-0 rounded', { 'bg-dark dark:bg-transparent': isDark }]}>
  <slot />
</div>
