---
import Layout from '~/layouts/Layout.astro';
import Header, { type Props as HeaderProps } from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, socialLinks } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  headerProps?: HeaderProps;
}

const { metadata, headerProps = {} } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement" />
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme {...headerProps} />
  </slot>
  <main class="min-h-screen">
    <slot />
  </main>
  <slot name="footer">
    <Footer socialLinks={socialLinks} />
  </slot>
</Layout>
