---
import Layout from '~/layouts/Layout.astro';
import Header, { type Props as HeaderProps } from '~/components/widgets/Header.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  headerProps?: HeaderProps;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement" />
  <Header />
  <main class="min-h-screen">
    <slot />
  </main>
  <slot name="footer">
    <!-- <Footer socialLinks={socialLinks} /> -->
  </slot>
</Layout>
