/* Page transition animations with Swup */
html.is-changing .transition-swup-fade {
  @apply transition-all duration-200;
}
html.is-animating .transition-swup-fade {
  @apply translate-y-4 opacity-0;
}

/** Animated Theme Toggle */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}
